:global(body) {
  background-color: #edf2f5;
  /* Standardize font-size to 16 for rems */
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.container {
  /* Totally not the ImageQuix font */
  font-family: 'Dosis', sans-serif;
}

.header {
  /* Totally not the ImageQuix front page blue */
  background-color: #01a6dc;
  color: #ffffff;
  font-size: 2rem;
  font-weight: 600;
  height: 80px;
  line-height: 80px;
  padding: 0 15px;
}

.content {
  padding: 15px;
}
